.formSec{
  background: #a0ceff11;
  display: flex;
  justify-content: space-evenly;

  background-color: #A0CEFF38;
  background-color: #A0CEFF38;
  box-shadow: 0 0 51px 100px #A0CEFF38;
  margin-top: 280px;
}

.innerSecFormRt h1{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: sans-serif;
}


input{
  width: 100%;
  padding: 26px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #FFFFFF;
  border:0.5px solid #0056BB;
  font-family: 'Inter', 'Sans-sherif';
}

input::placeholder{
  color: #999999;
}

#message{
  width: 100% ;
  padding: 26px;
  resize: none;
  margin-bottom: 30px;
  border-radius: 5px;
  border:0.5px solid #0056BB;
  font-family: 'Inter', 'Sans-sherif';

}

.contact-button{
  border-radius: 25px;
  background: linear-gradient(91.44deg, #0866CC -10.25%, #2E9FF8 150.7%);
  border: none;
  color: white;
  position: relative;
  left: 70%;
}

.innerSecFormRt > *{

  border-bottom: 2px solid #2E9FF8;
}

.cellForm1, .cellForm2, .cellForm3{
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 20px 12px;
}

.imgFotseter{
  margin-top: 20px;
}

.contact-button{
  padding: 10px 60px;
}


@media(max-width:768px){
.formSec{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contact-button{
  left: 35%;
}
input,#message{
  width: 250px;
}
.innerSecFormRt > h1{
  display: flex;
  font-family:sans-serif;
  justify-content: center;
  font-weight: bold;
    /* font-family: sans-serif; */
}
.imgFormWrap{
  width:350px;
}
.imgFotseter{
  padding-top: 20px;
  padding-bottom: 20px;
}
button{
  left: 60%;
}
}